<footer class="footer ">
  <div class="wrapper container">
    <div class="footer__item">
      <div class="footer__logo">
        Social Network
      </div>
      <nav class="footer__nav">
        <ul class="footer_menu">
          <li class="footer__menu-item">
            <h3 class="footer__menu-title">
              Company
            </h3>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">About</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Team</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Carrers</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Privacy Policy</a>
          </li>
        </ul>

        <ul class="footer_menu">
          <li class="footer__menu-item">
            <h3 class="footer__menu-title">
              Location
            </h3>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">About</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Team</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Carrers</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Privacy Policy</a>
          </li>
        </ul>

        <ul class="footer_menu">
          <li class="footer__menu-item">
            <h3 class="footer__menu-title">
              Social Media
            </h3>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Facebook</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Team</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Carrers</a>
          </li>
          <li class="footer__menu-item">
            <a href="#!" class="footer__menu-link">Privacy Policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>