<div class="stats">
  <strong id="following">
    <%= @user.following.count %>
  </strong>

  <%= link_to 'following', params[:id] ? "#{params[:id]}/following" : "users/#{current_user.id}/following" %>
  <br>

  <strong id="followers">
    <%= @user.followers.count %>
  </strong>

  <%= link_to 'followers', params[:id] ? "#{params[:id]}/followers" : "users/#{current_user.id}/followers" %>
</div>